    [Desktop Entry]
        Name: Bali's Chameleon
        Comment:Looks good with any color scheme
        X-KDE-PluginInfo-Author:Bali10050
        X-KDE-PluginInfo-Email:serabali10050@gmail.com
        X-KDE-PluginInfo-Website:https://www.pling.com/u/bali10050/
        X-KDE-PluginInfo-Version:1.0
        X-KDE-PluginInfo-License:I don't know what to write here
